.article {
  @apply w-full h-[300px] lg:w-[70%] lg:h-[450px];
  .menu {
    @apply w-full h-full relative flex overflow-hidden;
    .item {
      @apply absolute w-full h-full opacity-0;
      transition: all 0.3s linear;
      .title {
        @apply absolute w-full;
        backdrop-filter: blur(10px);
        //background: var(--color9);
        h6 {
          color: var(--color1);
          text-align: center;
          font-size: 26px;
          font-weight: normal;
        }
      }
      .image {
        @apply h-full w-full;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center top;
        }
      }
    }
  }
}

div.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

div.lastSlide {
  transform: translateX(-100%);
}

div.nextSlide {
  transform: translateX(100%);
}
