.section {
  @apply w-full h-full;
  .menu {
    @apply w-full h-full relative flex overflow-hidden;
  }
}

div.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

div.lastSlide {
  transform: translateX(-100%);
}

div.nextSlide {
  transform: translateX(100%);
}
