.list {
  position: relative;
  overflow-x: visible;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  height: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.form {
  @apply flex flex-col w-full sm:w-full mt-4 mx-auto gap-y-6;
  & > div {
    @apply max-w-[350px] w-[80%] mx-auto;
  }
  //.input {
  //  @apply w-full mx-auto;
  //  .passwordIcon {
  //    cursor: pointer;
  //  }
  // }
  .radioGroup {
    @apply mx-auto;
  }
}

.authButton {
  width: 33%;
  margin: 0 auto 1rem !important;
}
