.home {
  margin-top: 90px;
  width: 100%;
  //@apply lg:mt-[120px];
  .container {
    display: flex;
    flex-direction: column;
    article:not(:first-of-type) {
      margin-top: 30px;
    }
  }
}

@media screen and (min-width: 1176px) {
  .home {
    margin-top: 110px;
  }
}
