node_modules
package-lock.json
build
.git
.gitignore
.idea
.editorconfig
.eslintignore
.eslintrc.cjs
.prettierignore
.browserslistrc
.prettier.json
postcss.index.js
tsconfig.json
data
babel.index.js
README.md
*.map