@import '@styles/variables.scss';
@import '@styles/animations.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 110;
  background: var(--color1);
}

.container {
  width: 100%;
  z-index: 1001;
  height: 80px;
  position: relative;
}

.logo {
  width: 110px;
  height: 70px;
  position: absolute;
  z-index: 1006;
  left: -5px;
  top: 4px;
  a {
    svg {
      fill: var(--color13);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.interface {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1003;
  margin-right: 27px;
  height: 70px;
  font-size: 1.5em;
  align-items: center;

  button {
    width: 35px;
    height: 35px;
    position: relative;
    &:not(:first-of-type) {
      margin-left: 20px;
    }
    svg {
      fill: var(--color97);
      font-size: 26px;
    }
  }
}

.menu {
  display: block;
  width: 100%;
}
.userMenu {
  display: none !important;
}
@media screen and (min-width: 618px) {
  .logo {
    left: 5px;
  }
  .interface {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 36px;
    button {
      &:not(:first-of-type) {
        margin-left: 25px;
      }
      svg {
        font-size: 28px;
      }
    }
  }
  .menu {
    display: none !important;
  }
  .userMenu {
    display: inline-flex !important;
  }
}

@media screen and (min-width: 1176px) {
  .header {
    height: 100px;
  }
  .logo {
    margin-left: 20px;
    width: 130px;
    height: 80px;
  }
  .interface {
    height: 90px;
    button {
      &:not(:first-of-type) {
        margin-left: 35px;
      }
      svg {
        font-size: 30px;
      }
    }
  }
}
