@import '@styles/variables.scss';
@import '@styles/animations.scss';

.movie {
  @apply relative inline-block h-full;
  &:not(:first-of-type) {
    @apply ml-2 md:ml-3 ag:ml-4 xl:ml-5;
  }

  &:hover {
    @include animationCustom(flash, $verySlow, ease-out);

    .container {
      .favoriteIcon {
        @apply inline-flex;
      }
    }
  }

  .container {
    @apply w-full h-full relative;

    a {
      @apply relative;
      .info {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        background-color: #292929ff;
        width: calc(100% - 5px);
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 2px;
        @apply absolute hidden items-center px-1 pt-1.5 pb-1.5;
        span {
          @apply text-white font-bold text-[13px] xl:text-[14px] xl2:text-[16px];
        }

        span:not(:first-of-type) {
          @apply ml-[3px] xl:ml-[6px];
        }

        span.rating,
        span.yourRating {
          @apply p-[4px] text-white font-normal rounded-[5px] text-[13px] text-center xl:text-[14px] xl2:text-[16px];
        }

        span.yourRating {
          @apply absolute right-1;
        }
      }

      img {
        @apply block align-bottom w-full h-full object-center rounded-[10px] border-[3px] border-solid border-[var(--color3)];
      }
    }

    .favoriteIcon {
      @include animationCustom(flash, $verySlow, ease-out);
      @apply absolute inline-flex right-[4px] top-[4px] z-[10] cursor-pointer;
      padding: 4px !important;
      backdrop-filter: blur(1.2em) !important;
      background-color: rgba(var(--color1), 0.1) !important;
      svg {
        @apply text-[25px] xl:text-[35px];
        fill: rgb(87, 153, 239);
      }
      .loading {
        @apply w-[25px] h-[25px] xl:w-[35px] xl:h-[35px];
      }
    }
  }
}

@media screen and (min-width: 828px) {
  .movie:hover {
    .container .info {
      display: flex;
      animation: showInfoMovieCart 0.3s linear;
    }
  }
}
