@import '@styles/variables.module.scss';

.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  width: 100%;
  transition: all 0.15s linear;
  &:hover {
  }
  div {
    width: 100%;
    border-width: 2px;
    border-style: solid;
  }
}
