@import '@styles/animations.scss';

.article {
  width: 100%;
  height: 55vmin;
  position: relative;

  .title {
    width: 100%;
    text-align: left;
    height: 10%;
    vertical-align: center;
    margin-bottom: 15px;
    font-size: 3.2vmin;
  }
  .menu {
    width: 100%;
    height: 80%;
    &:hover {
      button {
        display: flex;
      }
    }
    .list {
      position: relative;
      overflow-x: visible;
      overflow-y: hidden;
      scrollbar-width: none;
      -ms-overflow-style: none;
      width: 100%;
      height: 100%;
      margin-block-start: 0;
      margin-block-end: 0;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }

      li:not(:first-of-type) {
        margin-left: 1vh;
      }
    }
  }
}

@media screen and (min-width: 510px) {
  .article .title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 618px) {
  .article {
    height: 45vw;
  }
}

@media screen and (min-width: 900px) {
  .article {
    height: 36vw;

    .list li:not(:first-of-type) {
      margin-left: 1.5vh;
    }
  }
}

@media screen and (min-width: 1174px) {
  .article {
    height: 34vw;

    .list li:not(:first-of-type) {
      margin-left: 2vh;
    }
  }
}
